* {
  font-family: "Gill Sans", sans-serif;
  margin: 0;
}

.all {
  display: flex;
  flex-direction: row-reverse; 
}

#navbar {
  width: 200px;
  border-right: 2px solid black;
}

nav a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;

  display: block;
  padding: 16px 10px 16px 10px;
}

nav a:first-of-type {
  border-top: 1px solid black
}

nav a:last-of-type {
  border-bottom: 0
}

main {
  flex: 1;
  padding-left: 10px;
}

p {
  text-indent: 3ch;
  line-height: 2;
}

.list-wrap1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.weights {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul {
  line-height: 2;
}

em {
  font-weight: 600; 
}

.us_uk_chart {
  display: flex;
  justify-content: center;
}

.terms-chart {
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

code {
  display: flex;
  margin: 8px;
  font-family: monospace;
  font-size: 10pt;
  background: #ececec;
  padding: 5px;
}

.main-headers {
  font-size: 18pt;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

.navbar-header {
  font-size: 20px;
  padding: 20px 0 10px 10px;
  font-weight: bold;
}

@media (max-width: 400px) {
  #navbar {
    width: 100px;
  }
  .navbar-header {
    font-size: 0.6rem;
  }
  .main-section {
    flex: 1;
  }
}
